{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="d-flex justify-content-center">
    <!-- Movie carousel -->
    <div class="row p-2">
        <div id="carousel-movies" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-movies" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-movies" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-movies" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" >
                {% for movie in movie_list%}
                    {% if  forloop.counter == 1 %}
                        <div class="carousel-item active" data-bs-interval="2000">
                        {% if "placeholder" in movie.movie_poster.url %}
                            <img src="{% static 'images/default-image.jpg' %}" class="d-block w-100" alt="{{movie.title}}">
                        {% else %}
                            <img class="d-block w-100" src="{{ movie.movie_poster.url }}" alt="{{movie.title}}">
                        {% endif %}
                        <div class="carousel-caption d-none d-md-block" id="carousel-caption">
                            <a href="{% url 'movie_detail' movie.slug %}"><h5 id="carousel-title">{{ movie.title }}</h5></a>
                            <p>{{ movie.excerpt }}</p>
                        </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                        {% if "placeholder" in movie.movie_poster.url %}
                            <img src="{% static 'images/default-image.jpg' %}" class="d-block w-100" alt="{{ movie.title }}">
                        {% else %}
                            <img class="d-block w-100" src="{{ movie.movie_poster.url }}" alt="{{movie.title}}">
                        {% endif %}
                            <div class="carousel-caption d-none d-md-block" id="carousel-caption">
                                <a href="{% url 'movie_detail' movie.slug %}"><h5 id="carousel-title">{{ movie.title }}</h5></a>
                                <p>{{ movie.excerpt }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}  
            </div>
        </div>
    </div>
    <button class="carousel-control-prev d-none" type="button" data-bs-target="#carousel-movies" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-none" type="button" data-bs-target="#carousel-movies" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- index.html content ends here -->
{% endblock %}