
{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title" id="movie-title">{{ movie.title }}</h1>
                <h5 class="post-subtitle" id="movie-title">Our Rating | {{ movie.our_rating }}</h5>
                <div>
                    <p class="post-subtitle" id="movie-title">Imdb | {{movie.imdb_rating}}</p>
                    <p class="post-subtitle" id="movie-title">Rotten Tomatoes | {{movie.rotten_tomatoes_rating}}</p>
                    <p class="post-subtitle" id="movie-title">Release Date | {{movie.release_date}}</p>

                </div>
            </div>
            <div class="d-none d-md-block col-md-auto">
                {% if "placeholder" in movie.movie_poster.url %}
                    <img class="img-fluid" src="{% static 'images/default-image.jpg' %}" alt="placeholder image">
                {% else %}
                    <img class="img-fluid" src=" {{ movie.movie_poster.url }}" alt="{{ movie.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ movie.summary | safe }}
                </p>
            </div>
        </div>
    </div>
  
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3 style="color: black;">Comments: {{ comment_count }}</h3>
      <div class="card-body">
        <!-- for loop to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p  style="color: black;" class="font-weight-bold">
            {{ comment.username }}
            <span style="color: black;" class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div style="color: black;" id="comment{{ comment.id }}">
            {{ comment.content | linebreaks }}
          <p style="color: black;">Rated:{{ comment.user_rating }}</p>
          </div>
          {% if not comment.approved and comment.author == user %}
          <p  style="color: black;" class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
        </div>
        <!-- for loop ends here -->
        {% endfor %}
      </div>
    </div>
  </div>
    
</div>

{% endblock content %}
