
{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ movie.title }}</h1>
                <h5 class="post-subtitle">Our Rating | {{ movie.our_rating }}</h5>
                <div>
                    <p class="post-subtitle">Imdb | {{movie.imdb_rating}}</p>
                    <p class="post-subtitle">Rotten Tomatoes | {{movie.rotten_tomatoes_rating}}</p>

                </div>
            </div>
            <div class="d-none d-md-block col-md-auto">
                <img src="{% static 'images/default-image.jpg' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ movie.summary | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
