/** Google fonts imports **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pathway+Gothic+One&display=swap');

body {
    background-color: #0f0f0f;
    font-family: 'Pathway Gothic One';
}

h1,
h2,
h3,
h5 {
    color: azure;
    font-family: 'Bebas Neue';
    letter-spacing: 0.3vh;
}

.brand {
    font-family: 'Bebas Neue';
    letter-spacing: 0.6vh;
    color: #830303;
    font-weight: 900;
    font-size: x-large;
}

#nav-item {
    font-family: 'Bebas Neue';
    letter-spacing: 0.1vh;
}

#card-title {
    color: #c80303;
}

/** Styles film page movie links **/
a.post-link {
    color: #c80303;
    text-decoration: none;
}

#movie-title {
    color: azure;
    text-decoration: none;
}

p#movie-summary {
    color: #5e0101;
    text-decoration: none;
}

/** Styles movie summary card **/

.card-body {
    background-color: rgba(0, 0, 0, 0.125);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

#detail-card {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

/** Styles movie comments **/
.card {
    color: #0f0f0f;
}

.card h3 {
    color: #0f0f0f;
}

.approval {
    color: #830303;
}


p {
    font-family: 'Pathway Gothic One';
    letter-spacing: 0.1vh;
}


/** Styles delete comment modal **/
.modal-content {
    color: #830303;
    font-family: 'Pathway Gothic One';
    letter-spacing: 0.1vh;
}

.modal-content h5 {
    color: #830303;
}

#page-link {
    font-family: 'Pathway Gothic One';
    color: #c80303;
    border: 1px solid #c80303;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 0.6vh;
}

/** Styles movie carousel **/
.carousel-caption.d-none.d-md-block {
    max-height: 11vh;

}

#carousel-caption {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: medium;
    text-decoration: none;
}

#carousel-title {
    color: azure;
    font-size: xx-large;
    text-decoration: none;
}

/** Styles movie recommendation form **/
p.recommend {
    color: azure;
}

.form-label {
    color: azure;
}

textarea#id_movie_title {
    max-height: calc(1.5em + .75rem + 2px);
}

/** Styling for edit, delete, modal buttons  **/
.btn-edit,
.btn-delete,
.btn-close,
.btn {
    color: azure;
    background-color: #830303;
    letter-spacing: 2px;
    padding: 5px 10px;
    font-size: 90%;
}